{
    "presets": [
        ["@babel/preset-env", {
            "debug": false,
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-regenerator"],
        ["transform-html-import-to-string"]
    ]
}
