{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": ["last 10 versions", "ie >= 8"]
                }
            }
        ]
    ],
    "plugins": [
        "transform-html-import-to-string"
    ]
}
