{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": ["last 10 versions", "ie >= 9"]
                }
            }
        ]
    ],
    "plugins": [
        ["transform-html-import-to-string"]
    ]
}
