#
# Gulp
#

# SCSS
# Compiles the source scss into css
#
# Usage: gulp scss
# eg. 'SCSS_SRC=/my/project/absolute/path/_src/scss/'
# eg. 'SCSS_DEST=/my/project/absolute/path/_assets/css/'
SCSS_SRC=
SCSS_DEST=

# Javascript
# Compiles the source js
#
# Usage: gulp js
# eg. 'JS_SRC=/my/project/absolute/path/_src/js/'
# eg. 'JS_DEST=/my/project/absolute/path/_assets/js/'
JS_SRC=
JS_DEST=
